*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding-top: 120px;
}

/* debug */

.debug {
    border: dashed red 2px;
}

/* generics */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

img {
    width: 100%;
}

/* utility */

.container {
    max-width: 500px;
    margin: 0 auto;
}

.row {
    
}

.col {
    min-height: 500px;
    width: 100%;
    padding: 2rem 0;
}

.btn {
    display: inline-block;
    border-radius: 20px;
}

/* header */

header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header {
    height: 100px;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.menu {
    display: flex;
    align-items: center;
}

.header-menu-link {
    display: none;
}

.header-menu-link li {
    padding: 0 1rem;
}

.menu .btn {
    background-color: #fff;
    color: black;
    padding: 10px;
    display: none;
}

/* main  */

.demo-app .col:first-child {
    min-height: 1000px;
}

.planning .col {
    width: 100%;
}

/* === RESPONSIVE === */

/* header responsive */

@media screen and (min-width: 1200px) {
    .header-menu-link {
        display: flex;
    }

    .menu .btn {
        display: inline-block;
    }

    .burger-menu {
        display: none;
    }
}

/* main section responsive */

/* tablet responsive */

@media screen and (min-width: 768px ) {
    .container {
        max-width: 740px;
    }

    .row {
        display:flex;
        flex-wrap: wrap;
    }

    .demo-app .col {
        width: calc(100% / 3);
        padding: 2rem;
    }

    .demo-app .col:first-child {
        width: calc(100% / 2);
        flex-grow: 1;
    }

    .partners .col {
        width: 100%;
    }

    .benefits .col {
        width: 50%;
    }

    .about-us .col:first-child {
        width:60%;
    }
    .about-us .col:last-child {
        width: 40%;
    }
}

/* desktop responsive */

@media screen and (min-width: 1200px) {
    .container {
        max-width:1000px ;
    }

    .demo-app .col:first-child {
       display:flex;
    }

    .planning .col {
        width: 50%;
    }

    .benefits .col {
        width: calc(100% / 3);
    }
}