*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding-top: 120px;
}

/* debug */

.debug {
    border: dashed red 2px;
}

/* generics */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

img {
    width: 100%;
    display: block;
}

/* utility */
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.col {
    width: 100%;
}

.btn {
    display: inline-block;
    border-radius: 25px;
}

.mg-bottom {
    margin-bottom: 3rem;
}

.bgc-white {
    background-color: #fff;
}

/* header */

header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header {
    height: 100px;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.menu {
    display: flex;
    align-items: center;
}

.header-menu-link {
    display: none;
}

.header-menu-link li {
    padding: 0 1rem;
}

.logo, .menu {
    padding: 0 20px;
}

.menu .btn {
    background-color: #fff;
    color: black;
    padding: 10px;
    display: none;
}

/* main  */

/* first sec */

.demo-app .col {
    background-color: #b5ddff;
    border-radius: 20px;
    margin: 2rem 0;
}

.demo-app .card-large {
    padding: 2rem 2rem 0 2rem;   
}

.demo-app .card {
    padding: 2rem 2rem 1rem 2rem;
    text-align: center;
}

.demo-app .btn {
    background-color: #0084fd;
    font-size: 20px;
    padding: 10px 65px;
    font-weight: bold;
}

.demo-app .btn::before {
    font: var(--fa-font-brands);
    content: "\f179";
    padding-right: 10px;
}

.demo-app h2 {
    color: #0084fd;
    font-size: 28px;
}

.demo-app p {
    color: #5a6e7f;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
}

.demo-app i {
    color: #0084fd;
    font-size: 100px;
}

.img-card {
    width: 80%;
    margin: 0 auto;
}

/* sec section */
.planning {
    background-color: #9792e4;
    color: #fff;
    padding: 3rem ;
    margin: 3rem 0;
}

.planning .col {
    width: 100%;
}

.planning .card {
    padding: 1rem;
}

.planning img {
    width: 90%;
}

.planning h2 {
    font-size: 35px;
    margin: 4rem 0;
}

.card.bgc-white {
    border-radius: 50px;
    color: black;
    text-align: center;
}

.planning a {
    color: black;
    font-size: 20px;
    line-height: 50px;
}

.circle-btn {
    margin: 1rem auto;
    width: 50px;
    height: 50px;
    background-color: #9792e4;
    border-radius: 50%;
}

.planning p {
    font-size: 18px;
    margin: 3rem 0;
}

/* 
/* === RESPONSIVE === */

/* header responsive */

@media screen and (min-width: 1200px) {
    .header-menu-link {
        display: flex;
    }
    
    .menu .btn {
        display: inline-block;
    }
    
    .burger-menu {
        display: none;
    }
}

/* main section responsive */

@media screen and (min-width:540px) {
    .container {
        max-width: 480px;
    }
}

/* tablet responsive */

@media screen and (min-width: 850px ) {
    
    /* first section-responsive */
    .container {
        max-width: 768px;
    }
    
    .row {
        display:flex;
        flex-wrap: wrap;
    }

    .demo-app .col {
        width: calc(100% / 3 - 1rem);
        margin: 0.5rem;
    }
    
    .demo-app .col:first-child {
        width: calc(100% / 2);
        flex-grow: 1;
    }
    
    .partners .col {
        width: 100%;
    }
    
    .benefits .col {
        width: 50%;
    }
    
    .about-us .col:first-child {
        width:60%;
    }
    .about-us .col:last-child {
        width: 40%;
    }
    
    .img-card {
        width: 60%;
        margin: 0;
    }
    
    /* sec sec responsive */

    .planning h2 {
        font-size: 70px;
    }

    .card.bgc-white img {
        margin: 0 auto;
        width: 70%;
    }
}

/* desktop responsive */

@media screen and (min-width: 1200px) {
    .container {
        max-width:1150px ;
    }
    
    .demo-app .col:first-child {
        display:flex;
    }
    
    .planning .col {
        width: 50%;
    }
    
    .benefits .col {
        width: calc(100% / 3);
    }
    
    .img-card, .card-large {
        width: 50%;
    } 
    
    .img-card {
        align-self: flex-end;
    }
    
    .mg-bottom {
        margin-bottom: 1.5rem;
    }    

    /* planning section */

    .planning .row {
        justify-content: center;
    }

    .col.left {
        width: 40%;
    }
    .col.right {
        width: 30%;
        margin-top: 9rem;
    }
    
    .planning h2 {
        font-size: 30px;
    }
}


